<html>
  <head>
    <title>{{ title }}</title>
    <link rel="search" href="/opensearchdescription.xml" type="application/opensearchdescription+xml" title="Search GIFs" />
    {% include '_analytics.html' %}
  </head>
  <body>
    {% include '_menu.html' %}

    <h1>{{ title }}</h1>

    {% include '_paginator.html' %}

      {% for gif in gifs %}
        {% include '_gif.html' %}
      {% else %}
        <p>No results</p>
      {% endfor %}

    {% include '_paginator.html' %}

    <p><small>Indexing {{ db.gifs|length() }} GIFs, courtesy of CantWearHats</small></p>
  </body>
</html>
